<div class="p-2">
  <div class="relative float-label-input">
    <input type="text" id="input" placeholder=" "
           [formControl]="_field"
           class="
         block
         w-full
         bg-white
         border
         border-gray-300
         rounded-md
         py-3
         px-3
         appearance-none
         leading-normal
         focus:outline-none
         focus:shadow-outline">

    <label for="input"
           id="label"
           class="
         absolute
         top-3
         left-0
         px-3
         rounded-md
         pointer-events-none
         transition
         duration-200
         ease-out
         text-gray-400
         text-grey-darker
">{{label}}</label>
  </div>
</div>
