#container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#sidebarContainer {
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {

  #container {
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 0;
  }

  #sidebar {
    border-radius: 0;
    height: 6rem;
  }

  #content {
    margin: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
  }
}
