<div [formGroup]="myFormGroup" class="flex flex-col gap-4 w-full">


  <div class="flex flex-row w-full">
    <text-input label="Package Name" [field]="myFormGroup.get('packageName')" [required]="true"
                class="w-full"></text-input>
    <text-input label="Class Name" [field]="myFormGroup.get('className')" class="w-full"></text-input>
  </div>


  <div [formGroup]="attributes" class="flex flex-row w-full">

    <text-input label="Attribute Name"
                [field]="attributes.get('attributeName')"></text-input>

    <select-input label="Attribute Type"
                  class="w-full"
                  [options]="attributeTypes"
                  [field]="attributes.get('attributeType')"></select-input>

    <button (click)="addAttribute()">add attributes</button>

  </div>


</div>

<!--<div>-->
<!--  <div>-->
<!--    Nome Pacchetto:  {{value.packageName}}-->
<!--  </div>-->
<!--  <div>-->
<!--    Nome Classe: {{value.className}}-->
<!--  </div>-->

<!--  <button (click)="test()">click me</button>-->
<!--</div>-->
