<div class="w-full h-full" id="list">


  <div *ngFor="let voice of menu" [routerLink]="voice.path"
       class="
      sm:rounded-none
      sm:grayscale
      sm:duration-500
      sm:hover:grayscale-0
      sm:border-t
      sm:border-neutral-500/60
      sm:last:border-b-0
      sm:last:rounded-b-lg
      sm:first:border-t-0
      sm:first:rounded-t-lg
      sm:h-20
      hover:bg-purple-300
      rounded-lg
"
       id="{{voice.path}}">

    <div class="
      w-12
      h-12
      p-2
      sm:flex
      sm:flex-row
      sm:gap-4
      sm:p-2
      sm:items-center
      sm:h-20"
    >

      <ng-icon name="{{voice.icon}}" color="purple" size="{{isMobile? '2rem' : '2.5rem'}}" id="icon"></ng-icon>
      <div *ngIf="!isMobile" class="pointer-events-none">{{voice.title}}</div>

    </div>


  </div>

</div>

