.active {
  filter: grayscale(0);
  background-color: rgb(192 132 252);
}

#list {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {

  #list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  #itemList {
    border-radius: 0.5rem;
  }


}
