<div class="h-full w-full flex flex-col-reverse sm:flex-row">

  <div class="
      sm:w-24
      sm:h-full
      sm:p-2
      sm:fixed
      sm:ease-linear
      sm:duration-700
      w-full
      bg-opacity-0"

       id="parent-navbar"
       (mouseenter)="toggleNavbar()"
       (mouseleave)="toggleNavbar()">

    <nav
      class="
      sm:flex
      sm:flex-col
      sm:items-center
      sm:w-full
      sm:h-full
      sm:px-4
      sm:py-8
      sm:rounded-lg
      sm:shadow-md
      sm:shadow-neutral-900
      sm:overflow-hidden
      sm:border-t-0
      {{theme.backdrop_white_glass_style}}
     border-neutral-900
     border-t
     overflow-auto">

      <logo [isOpened]="isOpened" class="sm:w-full sm:block hidden"></logo>
      <side-menu [isOpened]="isOpened" class="w-full"></side-menu>

    </nav>
  </div>


  <div class="
    p-2
    sm:h-full
    sm:ml-24
    sm:overflow-hidden
    overflow-auto"
       id="content">

    <div class="
      sm:h-full
      w-full
      px-4
      py-8
      rounded-lg
      shadow-md
      shadow-neutral-900
      overflow-auto
      {{theme.backdrop_white_glass_style}}">
      <ng-content></ng-content>
    </div>
  </div>

</div>
