#list {
  display: flex;
  flex-direction: column;
}

#itemList {

}

#icon {
}


@media screen and (max-width: 600px) {

  #list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  #itemList {
    border-radius: 0.5rem;
  }

}
